@import '@/app/assets/styles/abstracts';

.container {
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  padding: 110px 195px 130px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;

  .worked-by {
    @include text(title, 1);

    padding: 0 96px 80px;
  }

  .authors-container {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: 1fr 1fr;
    grid-gap: 80px 60px;
    justify-content: space-evenly;
  }
}

@media screen and (width <= 768px) {
  .container {
    padding: 40px 0 70px;
    margin: 75px auto 0;
    max-width: 360px;

    .authors-container {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    .worked-by {
      padding: 0 53px 80px;
    }
  }
}
