@import '@/app/assets/styles/abstracts';

.container {
  @include container;

  max-width: 1210px;
  padding-left: 133px;
  display: grid;
  grid-template-columns: 1fr 425px;
  grid-auto-rows: auto;
  padding-top: 110px;
  grid-column-gap: 97px;
  padding-bottom: 130px;

  .description {
    grid-area: 1 / 1 / 2 / 3;
    max-width: 652px;
    margin-bottom: 65px;

    @include text(text, 1);
  }
}

.images {
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.painting {
  @include text(text, 1);

  margin-bottom: 166px;
  padding-bottom: 25px;

  span {
    display: block;
  }

  &:last-of-type {
    margin-bottom: 60px;
  }
}

.painting-description {
  padding-left: 64px;
  padding-top: 56px;
}

.mobile {
  display: none;
}

@media screen and (width <= 768px) {
  .container {
    padding: 75px 0;
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(3, 1fr);
    grid-row-gap: 35px;

    .description {
      grid-area: 1 / 1 / 2 / 2;
      margin-bottom: 30px;
    }

    .painting-description {
      padding-left: 16px;
      padding-top: 50px;
      border-width: 16px;
      border-right-width: 0;

      &::before,
      &::after {
        width: calc(100% + 16px);
      }

      &::before {
        left: -16px;
        top: -16px;
      }

      p {
        margin-bottom: 100px;
        max-width: 116px;
      }
    }
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .row {
    width: 100%;
    gap: 20px;
    align-items: flex-end;
    justify-content: center;
  }

  .left-padding {
    padding-left: 29px;
    justify-content: flex-start;
  }

  .right-padding {
    padding-right: 29px;
  }
}

@media screen and (width <= 415px) {
  .left-padding {
    padding-left: 8px;
  }

  .right-padding {
    padding-right: 8px;
  }

  .description {
    padding-left: 12px;
    padding-right: 12px;
  }

  .container .no-borders {
    border-left-width: 0;
    width: 100%;
  }

  .container .row {
    gap: 12px;
  }

  .container .painting-description {
    width: 100%;

    p {
      max-width: 100%;
    }

    &::before,
    &::after {
      width: calc(100% - 16px);
    }
  }
}
