@import '@/app/assets/styles/abstracts';

.container {
  display: flex;
  gap: 97px;
  padding: 130px 248px 110px 116px;

  @include container;

  .paintings {
    padding: 58px 94px 95px 98px;
    width: 100%;
    max-width: 425px;
  }

  .description {
    @include text(text, 1);

    margin-bottom: 40px;
    padding-bottom: 25px;

    span {
      display: block;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 30px;
}

.mobile {
  display: none;
}

@media screen and (width <= 768px) {
  .container {
    padding: 75px 0;
    flex-direction: column;
    gap: 35px;

    .row {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: flex-end;

      &:nth-of-type(3) {
        padding-left: 29px;
        justify-content: start;
        padding-right: 34px;

        .painting-description {
          flex: 1;
        }
      }

      &:nth-of-type(4) {
        padding-left: 50px;
        padding-right: 29px;

        .painting-description {
          border-left-width: 0;
          padding-left: 0;
        }
      }

      &:nth-of-type(5) {
        justify-content: flex-end;
        padding-right: 44px;

        .description {
          padding-bottom: 92px;
        }
      }
    }
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .painting-description {
    padding-left: 16px;
    padding-top: 30px;
    border-width: 16px;
    border-right-width: 0;

    &::before,
    &::after {
      width: calc(100% + 16px);
    }

    &::before {
      left: -16px;
      top: -16px;
    }

    &:first-of-type {
      p {
        padding-bottom: 36px;
      }
    }

    p {
      margin-bottom: 100px;
    }
  }
}
