.wrapper {
  position: relative;
  display: block;
  overflow: hidden;

  .status-wrap {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 112px;
    height: 112px;
  }

  .status {
    margin-top: 52px;
    margin-left: -13px;
    display: block;
    color: var(--color-white);
    transform: rotate(-45deg);
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    width: 158px;
    text-align: center;
    font-family: var(--font-roboto-mono), monospace;
    line-height: 27px;
  }
}

.disabled {
  pointer-events: none;

  .status {
    display: none;
  }
}

.buy {
  .status {
    background-color: var(--color-red-transparent);
  }

  &:hover {
    .status {
      background-color: var(--color-red);
    }
  }
}

.sold {
  pointer-events: none;

  .status {
    background-color: var(--color-black-transparent);
    font-size: 22px;
  }
}
