/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/components/common/Footer/index.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap';
/* cormorant-regular - latin */
.Footer_footer__w8w4Z {
  display: flex;
  background-color: var(--color-black);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 19px;
  flex-direction: column;
}
.Footer_footer__w8w4Z span {
  font: 400 normal 20px/normal "Cormorant";
  color: var(--color-white);
}
.Footer_footer__w8w4Z .Footer_mail__UR9yY {
  align-items: center;
  padding: 20px;
}
.Footer_footer__w8w4Z .Footer_description__drTA0 {
  margin-top: auto;
  padding: 15px;
}
.Footer_footer__w8w4Z .Footer_social__oj778 {
  margin-left: 15px;
  margin-right: 15px;
  color: var(--color-white);
  display: inline-block;
}
.Footer_footer__w8w4Z .Footer_social-icon__qUjQ4 {
  height: 42px;
  width: 42px;
}
.Footer_footer__w8w4Z .Footer_social-container__MYk56 {
  padding: 20px 0 0;
}
.Footer_footer__w8w4Z .Footer_contacts___3Xwp {
  margin: 80px 0 70px;
}
.Footer_footer__w8w4Z .Footer_developers__iHEJu {
  display: flex;
  gap: 37px;
  width: 100%;
  justify-content: center;
  padding: 80px 0;
  position: relative;
}
.Footer_footer__w8w4Z .Footer_developers__iHEJu::after {
  content: "";
  width: 165px;
  height: 1px;
  background-color: var(--color-white);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}
.Footer_footer__w8w4Z .Footer_developer__B2JGU {
  display: flex;
  gap: 30px;
  color: var(--color-white);
  width: 100%;
  max-width: 354px;
  align-items: center;
}
.Footer_footer__w8w4Z .Footer_avatar__U1MXM {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.Footer_footer__w8w4Z .Footer_name__eRkXL {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  font: 700 normal 20px/normal "Cormorant";
  align-items: center;
}
.Footer_footer__w8w4Z .Footer_name__eRkXL svg,
.Footer_footer__w8w4Z .Footer_name__eRkXL a {
  width: 25px;
  height: 25px;
}
.Footer_footer__w8w4Z .Footer_position__g8LVq {
  font: 400 normal 16px/normal "Roboto Mono";
  text-align: left;
}

@media screen and (max-width: 768px) {
  .Footer_footer__w8w4Z .Footer_developers__iHEJu {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 303px;
  }
  .Footer_footer__w8w4Z .Footer_developers__iHEJu::after {
    width: 114px;
  }
  .Footer_footer__w8w4Z .Footer_avatar__U1MXM {
    width: 47px;
    height: 47px;
  }
  .Footer_footer__w8w4Z .Footer_name__eRkXL {
    font: 400 normal 18px/normal "Cormorant";
    margin-bottom: 10px;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/components/common/Button/index.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap';
/* cormorant-regular - latin */
.Button_button__3pHpT {
  font: 500 normal 24px/normal "Cormorant";
  padding: 10px 20px;
  color: var(--color-white);
  background-color: var(--color-gray-dark);
  border-style: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all 0.2s ease-in-out;
  outline: none;
  width: 100%;
}
.Button_button--secondary__hyrFF {
  opacity: 0.5;
}
.Button_button--tertiary__SoVzp {
  opacity: 0.1;
}
.Button_button__3pHpT:disabled {
  cursor: not-allowed;
}
.Button_button__3pHpT:hover:not(:disabled) {
  background: var(--linear-gradient-button);
  background-color: var(--color-white);
  color: var(--color-gray-dark);
}
.Button_button__3pHpT:hover:not(:disabled)::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  background-color: var(--color-gray-dark);
  height: 100%;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/components/common/Header/index.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap';
/* cormorant-regular - latin */
.Header_header__dU7h2 {
  padding-right: 150px;
  display: flex;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.Header_header__dU7h2 .Header_language__XHPR2 {
  margin-left: auto;
  margin-right: 0;
  text-decoration: none;
}
.Header_header__dU7h2 .Header_language__XHPR2 .Header_button__AOD_O {
  padding: 3px 22px;
}
.Header_header__dU7h2 .Header_home___NYut {
  margin: 40px 0 0 40px;
  color: var(--color-gray-dark);
}
.Header_header__dU7h2 .Header_home___NYut path {
  transition: fill 0.2s ease-in-out;
  fill: var(--color-white);
}
.Header_header__dU7h2 .Header_home___NYut:hover {
  cursor: pointer;
}
.Header_header__dU7h2 .Header_home___NYut:hover path {
  fill: var(--color-gray-dark);
}

@media screen and (max-width: 768px) {
  .Header_header__dU7h2 {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  .Header_header__dU7h2 .Header_home___NYut {
    margin-top: 0;
    margin-left: 30px;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/components/Authors/Author/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap';
/* cormorant-regular - latin */
.Author_container__jWUSc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.Author_container__jWUSc .Author_name__8E5kZ {
  margin-top: 20px;
  font: 700 normal 20px/normal "Cormorant";
}
.Author_container__jWUSc .Author_job___Rbve {
  margin-top: 10px;
  font: 400 normal 16px/normal "Roboto Mono";
}
.Author_container__jWUSc .Author_social__Nysqg {
  margin-top: 20px;
}
.Author_container__jWUSc .Author_social__Nysqg .Author_email__kjxLi {
  font: 400 normal 20px/normal "Cormorant";
}
.Author_container__jWUSc .Author_social__Nysqg .Author_email__kjxLi a {
  color: var(--color-white);
  text-decoration: none;
}
.Author_container__jWUSc .Author_social__Nysqg .Author_social-icons-container__s7N_D {
  padding: 10px 0 0;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(5, 25px);
}
.Author_container__jWUSc .Author_social__Nysqg .Author_social-icons-container__s7N_D .Author_social-icon__F_VlQ {
  color: var(--color-white);
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 768px) {
  .Author_container__jWUSc {
    flex-direction: row;
    column-gap: 14px;
    padding-left: 20px;
    align-items: stretch;
  }
  .Author_container__jWUSc .Author_image__QjZe_ {
    width: 121px;
    height: auto;
  }
  .Author_container__jWUSc .Author_description__ntbKc {
    display: flex;
    flex-direction: column;
  }
  .Author_container__jWUSc .Author_name__8E5kZ {
    margin-top: 0;
  }
  .Author_container__jWUSc .Author_job___Rbve {
    flex: 1 1;
    height: 100%;
  }
  .Author_container__jWUSc .Author_social__Nysqg .Author_email__kjxLi {
    font: 400 normal 18px/normal "Cormorant";
  }
  .Author_container__jWUSc .Author_social__Nysqg .Author_social-icons-container__s7N_D {
    padding-top: 20px;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/components/Authors/index.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap';
/* cormorant-regular - latin */
.Authors_container__wLB_C {
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  padding: 110px 195px 130px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.Authors_container__wLB_C .Authors_worked-by__18PQZ {
  font: 700 normal 28px/normal "Cormorant";
  padding: 0 30px 80px;
}
.Authors_container__wLB_C .Authors_authors-container__MdatS {
  display: grid;
  grid-template-columns: repeat(3, 230px);
  grid-template-rows: 1fr 1fr;
  grid-gap: 80px 60px;
}

@media screen and (max-width: 768px) {
  .Authors_container__wLB_C {
    padding: 40px 0 70px;
    margin: 75px auto 0;
    max-width: 360px;
  }
  .Authors_container__wLB_C .Authors_authors-container__MdatS {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/components/BodySection/index.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap';
/* cormorant-regular - latin */
.BodySection_wrapper__xsBW2 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-left: 150px;
  display: flex;
  position: relative;
  margin-bottom: 50px;
}
.BodySection_wrapper__xsBW2 .BodySection_description__zfAIN {
  padding: 110px 98px 130px;
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  font: 400 normal 16px/normal "Roboto Mono";
  margin-top: 110px;
  height: min-content;
}
.BodySection_wrapper__xsBW2::after {
  position: absolute;
  content: "";
  width: 165px;
  height: 1px;
  display: block;
  background-color: var(--color-gray-dark);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .BodySection_wrapper__xsBW2 {
    padding: 75px 0 150px;
    flex-direction: column-reverse;
    max-width: 414px;
    margin: 0 auto 150px;
  }
  .BodySection_wrapper__xsBW2 .BodySection_image__O6CCc {
    width: 100%;
    height: auto;
  }
  .BodySection_wrapper__xsBW2 .BodySection_description__zfAIN {
    margin-top: 0;
    padding: 40px 28px 60px 29px;
    margin-right: 29px;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/components/MoreThanYearSection/index.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap';
/* cormorant-regular - latin */
.MoreThanYearSection_container__UYvur {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 150px;
  display: grid;
  grid-template-columns: 1fr 540px;
  margin-bottom: 50px;
}
.MoreThanYearSection_container__UYvur p {
  font: 400 normal 16px/normal "Roboto Mono";
  margin-top: 110px;
  height: max-content;
}
.MoreThanYearSection_container__UYvur .MoreThanYearSection_more__Wbhze {
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  padding: 98px 110px 130px;
}
.MoreThanYearSection_container__UYvur .MoreThanYearSection_body__mK_HO {
  position: relative;
  padding-top: 475px;
  padding-right: 97px;
}
.MoreThanYearSection_container__UYvur .MoreThanYearSection_body__mK_HO::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 165px;
  height: 1px;
  background-color: var(--color-gray-dark);
  z-index: -1;
}

.MoreThanYearSection_images__D3C5l {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.MoreThanYearSection_mobile__UBbQI {
  display: none;
}

@media (max-width: 768px) {
  .MoreThanYearSection_mobile__UBbQI {
    display: block;
  }
  .MoreThanYearSection_desktop__dpX4Y {
    display: none;
  }
  .MoreThanYearSection_images__D3C5l {
    flex-direction: column;
  }
  .MoreThanYearSection_images__D3C5l .MoreThanYearSection_image__RD3UK:nth-of-type(2) {
    width: 284px;
    height: auto;
  }
  .MoreThanYearSection_images__D3C5l .MoreThanYearSection_image__RD3UK:nth-of-type(3) {
    width: 100%;
    height: auto;
  }
  .MoreThanYearSection_container__UYvur {
    padding: 0;
    grid-template-columns: 1fr;
    max-width: 414px;
    margin: 0 auto;
  }
  .MoreThanYearSection_container__UYvur .MoreThanYearSection_more__Wbhze {
    padding: 40px 29px 60px 40px;
    margin-left: 29px;
    grid-area: 2/1/3/2;
    margin-top: 0;
    position: relative;
    margin-bottom: 150px;
  }
  .MoreThanYearSection_container__UYvur .MoreThanYearSection_more__Wbhze::after {
    content: "";
    position: absolute;
    bottom: -150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 165px;
    height: 1px;
    background-color: var(--color-gray-dark);
    z-index: -1;
  }
  .MoreThanYearSection_container__UYvur .MoreThanYearSection_image__RD3UK:first-of-type {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .MoreThanYearSection_container__UYvur .MoreThanYearSection_image__RD3UK:nth-of-type(2) {
    width: 100%;
    height: auto;
    grid-area: 3/1/4/2;
    margin-top: 150px;
  }
  .MoreThanYearSection_container__UYvur .MoreThanYearSection_body__mK_HO {
    margin-top: 0;
    padding: 80px 49px 50px;
  }
  .MoreThanYearSection_container__UYvur .MoreThanYearSection_body__mK_HO::before {
    display: none;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/components/PaintSection/index.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap';
/* cormorant-regular - latin */
.PaintSection_container__iTSWG {
  display: grid;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  grid-column-gap: 98px;
  margin-bottom: 50px;
  grid-template-columns: 540px 1fr;
  grid-template-rows: 1fr 1fr;
}
.PaintSection_container__iTSWG p {
  font: 400 normal 16px/normal "Roboto Mono";
  grid-area: 2/2/3/3;
  margin-top: 110px;
  max-width: 555px;
}

.PaintSection_mobile__CVU6T {
  display: none;
}

.PaintSection_image__ibKeW:last-of-type {
  grid-area: 2/1/3/2;
}

.PaintSection_images__gI0DS {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.PaintSection_images__gI0DS .PaintSection_image__ibKeW {
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .PaintSection_desktop__nW9ox {
    display: none;
  }
  .PaintSection_mobile__CVU6T {
    display: block;
  }
  .PaintSection_images__gI0DS {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 75px;
  }
  .PaintSection_images__gI0DS .PaintSection_image__ibKeW:nth-of-type(2) {
    width: 284px;
    height: auto;
  }
  .PaintSection_images__gI0DS .PaintSection_image__ibKeW:nth-of-type(3) {
    width: 100%;
    height: auto;
  }
  .PaintSection_container__iTSWG {
    display: flex;
    flex-direction: column;
  }
  .PaintSection_container__iTSWG .PaintSection_image__ibKeW:first-of-type {
    width: 284px;
    height: auto;
  }
  .PaintSection_container__iTSWG .PaintSection_image__ibKeW:nth-of-type(2) {
    width: 100%;
    height: auto;
  }
  .PaintSection_container__iTSWG p {
    margin: 80px 48px 0;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/components/common/PaintingDescriptionWrapper/index.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PaintingDescriptionWrapper_wrapper__PtZzt {
  border: 32px solid transparent;
  position: relative;
}
.PaintingDescriptionWrapper_wrapper__PtZzt::before, .PaintingDescriptionWrapper_wrapper__PtZzt::after {
  content: "";
  display: block;
  width: calc(100% + 32px);
  height: calc(100% + 32px);
  border: 2px solid black;
  border-right-width: 0;
  position: absolute;
}
.PaintingDescriptionWrapper_wrapper__PtZzt::after {
  top: 0;
  left: 0;
}
.PaintingDescriptionWrapper_wrapper__PtZzt::before {
  top: -32px;
  left: -32px;
}
.PaintingDescriptionWrapper_wrapper--left__rdwOK::before, .PaintingDescriptionWrapper_wrapper--left__rdwOK::after {
  border-right-width: 2px;
  border-left-width: 0;
}
.PaintingDescriptionWrapper_wrapper--left__rdwOK::after {
  top: 0;
  right: 0;
  left: auto;
}
.PaintingDescriptionWrapper_wrapper--left__rdwOK::before {
  top: -32px;
  right: -32px;
  left: auto;
}
.PaintingDescriptionWrapper_wrapper--no-borders__ceqVW::before, .PaintingDescriptionWrapper_wrapper--no-borders__ceqVW::after {
  display: none;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/components/PaintingsPart1/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap';
/* cormorant-regular - latin */
.PaintingsPart1_container__CQkRR {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 133px;
  display: grid;
  grid-template-columns: 1fr 425px;
  grid-auto-rows: auto;
  padding-top: 110px;
  grid-column-gap: 97px;
  padding-bottom: 130px;
}
.PaintingsPart1_container__CQkRR .PaintingsPart1_description__tKmTi {
  grid-area: 1/1/2/3;
  max-width: 652px;
  margin-bottom: 65px;
  font: 400 normal 16px/normal "Roboto Mono";
}

.PaintingsPart1_images__ancgK {
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.PaintingsPart1_painting__pSsDa {
  font: 400 normal 16px/normal "Roboto Mono";
  margin-bottom: 166px;
  padding-bottom: 25px;
}
.PaintingsPart1_painting__pSsDa span {
  display: block;
}
.PaintingsPart1_painting__pSsDa:last-of-type {
  margin-bottom: 60px;
}

.PaintingsPart1_painting-description__fjQBl {
  padding-left: 64px;
  padding-top: 56px;
}

.PaintingsPart1_mobile__dq_UJ {
  display: none;
}

@media screen and (max-width: 768px) {
  .PaintingsPart1_container__CQkRR {
    padding: 75px 0;
    grid-template-columns: 1fr;
    grid-template-rows: min-content repeat(3, 1fr);
    grid-row-gap: 35px;
  }
  .PaintingsPart1_container__CQkRR .PaintingsPart1_description__tKmTi {
    grid-area: 1/1/2/2;
    margin-bottom: 30px;
  }
  .PaintingsPart1_container__CQkRR .PaintingsPart1_painting-description__fjQBl {
    padding-left: 16px;
    padding-top: 50px;
    border-width: 16px;
    border-right-width: 0;
  }
  .PaintingsPart1_container__CQkRR .PaintingsPart1_painting-description__fjQBl::before, .PaintingsPart1_container__CQkRR .PaintingsPart1_painting-description__fjQBl::after {
    width: calc(100% + 16px);
  }
  .PaintingsPart1_container__CQkRR .PaintingsPart1_painting-description__fjQBl::before {
    left: -16px;
    top: -16px;
  }
  .PaintingsPart1_container__CQkRR .PaintingsPart1_painting-description__fjQBl p {
    margin-bottom: 100px;
    max-width: 116px;
  }
  .PaintingsPart1_desktop___Zu8t {
    display: none;
  }
  .PaintingsPart1_mobile__dq_UJ {
    display: flex;
  }
  .PaintingsPart1_row__4cPIw {
    width: 100%;
    gap: 20px;
    align-items: flex-end;
    justify-content: center;
  }
  .PaintingsPart1_left-padding__7F7j9 {
    padding-left: 29px;
    justify-content: flex-start;
  }
  .PaintingsPart1_right-padding__sjnoO {
    padding-right: 29px;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/components/PaintingsPart2/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap';
/* cormorant-regular - latin */
.PaintingsPart2_container__Jg5nW {
  display: flex;
  gap: 97px;
  padding: 130px 248px 110px 116px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.PaintingsPart2_container__Jg5nW .PaintingsPart2_paintings__9VaH5 {
  padding: 58px 94px 95px 98px;
  width: 100%;
  max-width: 425px;
}
.PaintingsPart2_container__Jg5nW .PaintingsPart2_description__4cTpL {
  font: 400 normal 16px/normal "Roboto Mono";
  margin-bottom: 40px;
  padding-bottom: 25px;
}
.PaintingsPart2_container__Jg5nW .PaintingsPart2_description__4cTpL span {
  display: block;
}
.PaintingsPart2_container__Jg5nW .PaintingsPart2_description__4cTpL:last-of-type {
  margin-bottom: 0;
}

.PaintingsPart2_images__6Kq8B {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 30px;
}

.PaintingsPart2_mobile__8sDnX {
  display: none;
}

@media screen and (max-width: 768px) {
  .PaintingsPart2_container__Jg5nW {
    padding: 75px 0;
    flex-direction: column;
    gap: 35px;
  }
  .PaintingsPart2_container__Jg5nW .PaintingsPart2_row__sPfFy {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-end;
  }
  .PaintingsPart2_container__Jg5nW .PaintingsPart2_row__sPfFy:nth-of-type(3) {
    padding-left: 29px;
    justify-content: start;
    padding-right: 34px;
  }
  .PaintingsPart2_container__Jg5nW .PaintingsPart2_row__sPfFy:nth-of-type(3) .PaintingsPart2_painting-description__B7BUs {
    flex: 1 1;
  }
  .PaintingsPart2_container__Jg5nW .PaintingsPart2_row__sPfFy:nth-of-type(4) {
    padding-left: 50px;
    padding-right: 29px;
  }
  .PaintingsPart2_container__Jg5nW .PaintingsPart2_row__sPfFy:nth-of-type(4) .PaintingsPart2_painting-description__B7BUs {
    border-left-width: 0;
    padding-left: 0;
  }
  .PaintingsPart2_container__Jg5nW .PaintingsPart2_row__sPfFy:nth-of-type(5) {
    justify-content: flex-end;
    padding-right: 44px;
  }
  .PaintingsPart2_container__Jg5nW .PaintingsPart2_row__sPfFy:nth-of-type(5) .PaintingsPart2_description__4cTpL {
    padding-bottom: 92px;
  }
  .PaintingsPart2_mobile__8sDnX {
    display: block;
  }
  .PaintingsPart2_desktop__W00Nt {
    display: none;
  }
  .PaintingsPart2_painting-description__B7BUs {
    padding-left: 16px;
    padding-top: 30px;
    border-width: 16px;
    border-right-width: 0;
  }
  .PaintingsPart2_painting-description__B7BUs::before, .PaintingsPart2_painting-description__B7BUs::after {
    width: calc(100% + 16px);
  }
  .PaintingsPart2_painting-description__B7BUs::before {
    left: -16px;
    top: -16px;
  }
  .PaintingsPart2_painting-description__B7BUs:first-of-type p {
    padding-bottom: 36px;
  }
  .PaintingsPart2_painting-description__B7BUs p {
    margin-bottom: 100px;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/components/PaintingsPart3/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap';
/* cormorant-regular - latin */
.PaintingsPart3_container__W8s26 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 130px 115px 220px 150px;
  display: flex;
  gap: 24px;
  align-items: flex-end;
}
.PaintingsPart3_container__W8s26 .PaintingsPart3_paintings__gBz3N {
  margin-left: 73px;
  padding-top: 58px;
  padding-bottom: 108px;
  padding-left: 64px;
  flex: 1 1;
  align-self: stretch;
}
.PaintingsPart3_container__W8s26 .PaintingsPart3_description__m8lpA {
  font: 400 normal 16px/normal "Roboto Mono";
  padding-bottom: 25px;
}
.PaintingsPart3_container__W8s26 .PaintingsPart3_description__m8lpA:not(:last-child) {
  margin-bottom: 86px;
}
.PaintingsPart3_container__W8s26 .PaintingsPart3_description__m8lpA span {
  display: flex;
}

.PaintingsPart3_mobile__284Aj {
  display: none;
}

@media screen and (max-width: 768px) {
  .PaintingsPart3_container__W8s26 {
    flex-direction: column;
    padding: 75px 0;
    gap: 35px;
    align-items: flex-start;
  }
  .PaintingsPart3_container__W8s26 .PaintingsPart3_paintings__gBz3N {
    margin-left: 0;
  }
  .PaintingsPart3_container__W8s26 .PaintingsPart3_row__BGWmE {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .PaintingsPart3_container__W8s26 .PaintingsPart3_row__BGWmE:first-of-type {
    padding-left: 29px;
  }
  .PaintingsPart3_container__W8s26 .PaintingsPart3_row__BGWmE:first-of-type .PaintingsPart3_image__quTl6 {
    width: 250px;
    height: auto;
  }
  .PaintingsPart3_container__W8s26 .PaintingsPart3_row__BGWmE:first-of-type .PaintingsPart3_paintings__gBz3N {
    padding-top: 27px;
    padding-bottom: 0;
    padding-left: 39px;
    border-width: 0;
  }
  .PaintingsPart3_container__W8s26 .PaintingsPart3_row__BGWmE:nth-of-type(2) {
    justify-content: flex-end;
    width: 100%;
    padding-right: 45px;
    gap: 22px;
  }
  .PaintingsPart3_container__W8s26 .PaintingsPart3_row__BGWmE:nth-of-type(2) .PaintingsPart3_image__quTl6 {
    width: 113px;
    height: auto;
  }
  .PaintingsPart3_container__W8s26 .PaintingsPart3_row__BGWmE:nth-of-type(2) .PaintingsPart3_paintings__gBz3N {
    min-width: 119px;
    flex: 0 1;
    padding-left: 16px;
    padding-top: 50px;
    border-width: 16px;
    border-right-width: 0;
    padding-bottom: 45px;
  }
  .PaintingsPart3_container__W8s26 .PaintingsPart3_row__BGWmE:nth-of-type(2) .PaintingsPart3_paintings__gBz3N::before, .PaintingsPart3_container__W8s26 .PaintingsPart3_row__BGWmE:nth-of-type(2) .PaintingsPart3_paintings__gBz3N::after {
    width: calc(100% + 16px);
  }
  .PaintingsPart3_container__W8s26 .PaintingsPart3_row__BGWmE:nth-of-type(2) .PaintingsPart3_paintings__gBz3N::before {
    left: -16px;
    top: -16px;
  }
  .PaintingsPart3_container__W8s26 .PaintingsPart3_row__BGWmE:nth-of-type(2) .PaintingsPart3_paintings__gBz3N p {
    margin-bottom: 50px;
  }
  .PaintingsPart3_mobile__284Aj {
    display: block;
  }
  .PaintingsPart3_desktop__b1UXu {
    display: none;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/[lng]/the-body-of-freedom/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import 'https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400&display=swap';
/* cormorant-regular - latin */
.the-body-of-freedom_main__ldG9p p {
  font: 400 normal 16px/normal "Roboto Mono";
}

.the-body-of-freedom_container__bpuxU {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 130px 0 20px;
  color: var(--color-gray-dark);
}
.the-body-of-freedom_container__bpuxU h1 {
  font: 700 normal 28px/normal "Cormorant";
  margin-bottom: 40px;
  padding-left: 50px;
}
.the-body-of-freedom_container__bpuxU .the-body-of-freedom_text__hk_NE {
  max-width: 555px;
  text-indent: 10px;
  margin-bottom: 200px;
}

.the-body-of-freedom_report__ikotp {
  text-align: center;
  padding: 250px 0;
}

@media screen and (max-width: 768px) {
  .the-body-of-freedom_main__ldG9p {
    max-width: 414px;
    margin: 0 auto;
  }
  .the-body-of-freedom_container__bpuxU {
    padding: 270px 30px 75px;
  }
  .the-body-of-freedom_container__bpuxU .the-body-of-freedom_text__hk_NE {
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 80px;
    max-width: 100%;
  }
  .the-body-of-freedom_container__bpuxU h1 {
    padding-left: 52px;
    margin-bottom: 50px;
  }
  .the-body-of-freedom_container__bpuxU .the-body-of-freedom_video__9UI7n {
    height: 200px;
  }
  .the-body-of-freedom_report__ikotp {
    max-width: 250px;
    margin: 0 auto;
    padding: 300px 0;
  }
  .the-body-of-freedom_video__9UI7n img {
    width: 100%;
    height: auto;
  }
}
