@import '@/app/assets/styles/abstracts/texts';

.footer {
  display: flex;
  background-color: var(--color-black);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 19px;
  flex-direction: column;

  span {
    @include text(sub-title, 1);

    color: var(--color-white);
  }

  .mail {
    align-items: center;
    padding: 20px;
  }

  .description {
    margin-top: auto;
    padding: 15px;
  }

  .social {
    margin-left: 15px;
    margin-right: 15px;
    color: var(--color-white);
    display: inline-block;
  }

  .social-icon {
    height: 42px;
    width: 42px;
  }

  .social-container {
    padding: 20px 0 0;
  }

  .contacts {
    margin: 80px 0 70px;
  }

  .developers {
    display: flex;
    gap: 37px;
    width: 100%;
    justify-content: center;
    padding: 80px 0;
    position: relative;

    &::after {
      content: '';
      width: 165px;
      height: 1px;
      background-color: var(--color-white);
      margin: 0 auto;
      position: absolute;
      bottom: 0;
    }
  }

  .developer {
    display: flex;
    gap: 30px;
    color: var(--color-white);
    width: 100%;
    max-width: 354px;
    align-items: center;
  }

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .name {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    @include text(title, 2);

    align-items: center;

    svg,
    a {
      width: 25px;
      height: 25px;
    }
  }

  .position {
    @include text(text, 1);

    text-align: left;
  }
}

@media screen and (width <= 768px) {
  .footer {
    padding: 19px 12px;

    .developers {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      max-width: 303px;

      &::after {
        width: 114px;
      }
    }

    .avatar {
      width: 47px;
      height: 47px;
    }

    .developer {
      max-width: auto;
    }

    .name {
      @include text(sub-title, 2);

      margin-bottom: 10px;
    }
  }
}
