@import '@/app/assets/styles/abstracts';

.container {
  @include container;

  padding-left: 150px;
  display: grid;
  grid-template-columns: 1fr 540px;
  margin-bottom: 50px;

  p {
    @include text(text, 1);

    margin-top: 110px;
    height: max-content;
  }

  .more {
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    padding: 98px 110px 130px;
  }

  .body {
    position: relative;
    padding-top: 475px;
    padding-right: 97px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 165px;
      height: 1px;
      background-color: var(--color-gray-dark);
      z-index: -1;
    }
  }
}

.images {
  display: flex;

  @include container;
}

.mobile {
  display: none;
}

@media (width <= 768px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .images {
    flex-direction: column;

    .image {
      &:nth-of-type(2) {
        width: 284px;
        height: auto;
      }

      &:nth-of-type(3) {
        width: 100%;
        height: auto;
      }
    }
  }

  .container {
    padding: 0;
    grid-template-columns: 1fr;
    max-width: 414px;
    margin: 0 auto;

    .more {
      padding: 40px 29px 60px 40px;
      margin-left: 29px;
      grid-area: 2 / 1 / 3 / 2;
      margin-top: 0;
      position: relative;
      margin-bottom: 150px;

      &::after {
        content: '';
        position: absolute;
        bottom: -150px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 165px;
        height: 1px;
        background-color: var(--color-gray-dark);
        z-index: -1;
      }
    }

    .image {
      &:first-of-type {
        width: 100%;
        height: auto;
        margin: 0 auto;
      }

      &:nth-of-type(2) {
        width: 100%;
        height: auto;
        grid-area: 3 / 1 / 4 / 2;
        margin-top: 150px;
      }
    }

    .body {
      margin-top: 0;
      padding: 80px 49px 50px;

      &::before {
        display: none;
      }
    }
  }
}
